.tienda-container {
  width: 100%;
  height: calc(100vh - 80px); // Ajusta según la altura del navbar
  padding-top: 0rem;

  .tienda-iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
