
body {
  background: #2b1e15 url('/textures/body.webp') repeat;
  background-size: 512px;
}


a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    font-family: inherit;
    cursor: pointer;
    border: none;
  }
  